<div class="portfolio vh-100 text-center">
  <h2 class="h1 fw-bold">PORTFOLIO COMPONENT</h2>
  <div class="icon py-3">
    <i class="fa-solid fa-star"></i>
  </div>
  <div class="container">
    <div class="row g-5">
      <div class="col-md-4">
        <div class="product rounded-3 overflow-hidden">
          <img src="./assets/imgs/poert1.png" class="w-100 rounded-3" alt="">
          <div class="layer d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-plus fa-5x"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product rounded-3 overflow-hidden">
          <img src="./assets/imgs/port2.png" class="w-100 rounded-3" alt="">
          <div class="layer d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-plus fa-5x"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product rounded-3 overflow-hidden">
          <img src="./assets/imgs/port3.png" class="w-100 rounded-3" alt="">
          <div class="layer d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-plus fa-5x"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product rounded-3 overflow-hidden">
          <img src="./assets/imgs/poert1.png" class="w-100 rounded-3" alt="">
          <div class="layer d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-plus fa-5x"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product rounded-3 overflow-hidden">
          <img src="./assets/imgs/port2.png" class="w-100 rounded-3" alt="">
          <div class="layer d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-plus fa-5x"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product rounded-3 overflow-hidden">
          <img src="./assets/imgs/port3.png" class="w-100 rounded-3" alt="">
          <div class="layer d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-plus fa-5x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
